.root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }

@media (max-width: 1024px) {
  .root {
      grid-template-columns: repeat(3, 1fr);
    }
  }

@media (max-width: 624px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
    }
  }


@media (max-width: 324px) {
  .root {
    grid-template-columns: repeat(1, 1fr);
    }
  }